

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-color: rgb(241, 239, 230);
}

.buttons {
    padding: 10px 10px;
}

.stats {
    height: 30px;
}

.webView {
    width: 100%;
    height: 500px;
}

.projectView {
    padding: 10px;
    width: 100%;
    xheight: 500px;
}

.instagramView {
    width: 240px;
    height: 240px;
}

.rightPanel {
    height: 640px;
    overflow-y: auto;
    overflow-x: hidden;
}

#flowerCanvas {
    width: 100%;
    height: 93%;
    background: -webkit-radial-gradient(left bottom, circle farthest-corner, #e1fd3e, #174709);
    background: -moz-radial-gradient(left bottom, circle farthest-corner, #e1fd3e, #174709);
    background: -ms-radial-gradient(left bottom, circle farthest-corner, #e1fd3e, #174709);
    background: -o-radial-gradient(left bottom, circle farthest-corner, #e1fd3e, #174709);
    background: radial-gradient(farthest-corner circle at left bottom, #e1fd3e, #174709);
}

#mainScreen {
    xxwidth: 80%;
    height: 200px;
    border-width: 10px;
    border-style: solid;
    border-color: brown;
    display: flex;
    justify-content: center;
    position: absolute;
    xxxpadding: 10px;
    top: 20px;
    left: 15%;
    right: 15%;
    color: white;
    max-height: 80%;
    background-color: brown;
    xbackground-color: sandybrown;
    xxxoverflow-y: auto;
    vertical-align: middle;
}

#imageView {
    max-width:100%;
    max-height:100%;
    display: block;
    width: auto;
    height: auto;
    xxmargin-top: auto;
    xxmargin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#videoDiv {
    max-width:100%;
    max-height:100%;
    display: block;
    width: auto;
    height: auto;
    xxmargin-top: auto;
    xxmargin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
